name: CI

on:
  push:
    branches:    
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Setup Stack
      uses: mstksg/setup-stack@v1
    
    - name: Checkout
      uses: actions/checkout@v2-beta
      
    - name: Build
      run: |
        set -ex
        stack build && time stack exec kbdSVGGen
        set +ex

    - uses: actions/upload-artifact@v1.0.0
      with:
        name: images
        path: images

